<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body class="td-section">
    {% include header.html %}
    <div class="container-fluid td-outer">
      <div class="td-main">
        <div class="row d-flex justify-content-center">
          <main class="col-12 col-md-10 col-xl-8" role="main">
           <div class="td-content">
	      {{ content }}
           </div>
          </main>
        </div>
      </div>
      {% include footer.html %}
    </div>
    {% include scripts.html %}
  </body>
</html>
