<p>
    <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ page.title }}">
    <img alt="GitHub top language" src="https://img.shields.io/github/languages/top/{{ page.title }}">
    <img alt="GitHub" src="https://img.shields.io/github/license/{{ page.title }}">
    <img alt="GitHub release (latest by date)" src="https://img.shields.io/github/v/release/{{ page.title }}">
    <img alt="GitHub tag (latest by date)" src="https://img.shields.io/github/v/tag/{{ page.title }}">
    <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/{{ page.title }}">
    <img alt="GitHub contributors" src="https://img.shields.io/github/contributors/{{ page.title }}">
    <a href="{{page.repo}}/issues"><img alt="GitHub issues" src="https://img.shields.io/github/issues/{{ page.title }}"></a>
</p>