<nav class="navbar navbar-expand-md navbar-dark bg-dark  d-flex justify-content-center" aria-label="Navigation">
	<div class="container-fluid col-12 col-md-10 col-xl-8">
		<a class="navbar-brand" href="/">
			<img title="basher.it" height=35 src="https://img.shields.io/static/v1?label=BASHER&message=IT&color=blue&style=for-the-badge&logo=windows-terminal" />
		</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarsExample04">
			<ul class="navbar-nav me-auto mb-2 mb-md-0 justify-content-center">
				{% for node in site.pages %}{% if node.title != null %}{% if node.layout == "page" %}{% if node.nav != false %}
				<li class="nav-item">
					<a class="nav-link{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
						{{node.fontawesome}} {{ node.title }} {{node.nav}}
					</a>
				</li>
				{% endif %}{% endif %}{% endif %}{% endfor %}
			</ul>
		</div>
	</div>
</nav>
