<footer class="bg-dark row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
        <div class="col-12 col-sm-12 text-center py-2 order-sm-2">
            <span class="text-white">
              <i class="fas fa-copyright"></i> 2021
              <a class="text-white" target="_blank" href="https://github.com/juanibiapina">Juan Ibiapina</a> &
              <a class="text-white" target="_blank" href="https://github.com/pforret">Peter Forret</a>
              &bull;
            </span>
            <a class="text-white" target="_blank" href="https://github.com/gitparade-com/basher.it">
              <i class="fab fa-github-square"></i> gitparade-com/basher.it &bull;
            </a>
            {% if site.privacy %}<a href="{{ site.privacy }}" class="text-white"><i class="fa fa-gavel" aria-hidden="true"></i> Privacy Policy</a>{% endif %}
        </div>
    </div>
  </div>
</footer>
{% include matomo.html %}