<footer class="bg-dark py-5 row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
<div class="col-12 col-sm-12 text-center py-2 order-sm-2">
  <small class="text-white">© 2020 {{ site.author }} All Rights Reserved</small>
  {% if site.privacy %}<small class="ml-1"><a href="{{ site.privacy }}" target="_blank">Privacy Policy</a></small>{% endif %}
  <p class="mt-2">
    <a class="text-white" target="_blank" href="/about/">
      <i class="fas fa-info-circle"></i> About {{ site.title }} &bull;
    </a>
    <a class="text-white" target="_blank" href="https://github.com/pforret">
      <i class="fab fa-github-square"></i> github.com/pforret &bull;
    </a>
    <a class="text-white" target="_blank" href="https://twitter.com/pforret">
      <i class="fab fa-twitter"></i> @pforret  &bull;
    </a>
    <a class="text-white" target="_blank" href="https://www.indiehackers.com/pforret">
      <i class="fas fa-address-book"></i> indiehackers.com &bull;
    </a>
    <a class="text-white" target="_blank" href="https://blog.forret.com">
      <i class="fab fa-wordpress"></i> blog.forret.com &bull;
    </a>
    <a class="text-white" target="_blank" href="https://toolstud.io">
      <i class="fas fa-calculator"></i> toolstud.io &bull;
    </a>
    <a class="text-white" target="_blank" href="https://nuuz.io">
      <i class="far fa-newspaper"></i> nuuz.io &bull;
    </a>
  </p>

</div>
    </div>
  </div>
</footer>
<!-- Matomo -->
<script type="text/javascript">
  var _paq = window._paq = window._paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//matomo.forret.com/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '1']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
