<footer class="bg-dark row d-print-none">
  <div class="container-fluid mx-sm-5">
    <div class="row">
        <hr />
        <div class="col-12 col-sm-12 text-center py-2 order-sm-2" style="font-size: .8em">
            <span class="text-white">
              <i class="fa fa-copyright"></i> 2021
              <a class="text-white" target="_blank" href="https://github.com/juanibiapina">Juan Ibiapina</a> &
              <a class="text-white" target="_blank" href="https://github.com/pforret">Peter Forret</a>
              &bull;
            </span><i class="fa fa-github-square text-white"></i>
            <a class="text-white" target="_blank" href="https://github.com/gitparade-com/basher.it">
              gitparade-com/basher.it
            </a> &bull;
            {% if site.privacy %}<i class="fa fa-gavel text-white" aria-hidden="true"></i> <a href="{{ site.privacy }}" class="text-white">Privacy Policy</a>{% endif %}
        </div>
    </div>
  </div>
</footer>
