<table>
    <tr>
        <td>
            <img alt="GitHub Repo stars" src="https://img.shields.io/github/stars/{{ page.title }}">
        </td>
        <td>
            <img alt="GitHub top language" src="https://img.shields.io/github/languages/top/{{ page.title }}">
        </td>
        <td>
            <a href="{{page.repo}}/issues"><img alt="GitHub issues" src="https://img.shields.io/github/issues/{{ page.title }}"></a>
        </td>
    </tr>
    <tr>
        <td>
            <img alt="GitHub tag (latest by date)" src="https://img.shields.io/github/v/tag/{{ page.title }}">
        </td>
        <td>
            <img alt="GitHub last commit" src="https://img.shields.io/github/last-commit/{{ page.title }}">
        </td>
        <td>
            <img alt="GitHub contributors" src="https://img.shields.io/github/contributors/{{ page.title }}">
        </td>
    </tr>
</table>
</table>