<header>
	<nav class="navbar navbar-expand-md navbar-dark bg-dark ">
		<a class="navbar-brand" href="/"><img width="120" src="/assets/logo/basher_install.svg"> basher.it</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-md-center" id="navbarcollapse">
			<ul class="navbar-nav mr-auto">
				{% assign pages_list = site.pages %}
				{% for node in pages_list %}{% if node.title != null %}{% if node.layout == "page" %}{% if node.nav != false %}
				<li class="nav-item">
					<a class="nav-link{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
						{{node.fontawesome}} {{ node.title }} {{node.nav}}
					</a>
				</li>
				{% endif %}{% endif %}{% endif %}{% endfor %}
			</ul>
		</div>
	</nav>
</header>