<form class="td-sidebar__search d-flex align-items-center">
    <i class="fas fa-search"></i>&nbsp;&nbsp;
    <input type="search" class="form-control td-search-input" placeholder="Search a package…" aria-label="Search a package…" autocomplete="off">
    <button class="btn btn-link td-sidebar__toggle d-md-none p-0 ml-3 fas fa-bars" type="button" data-toggle="collapse" data-target="#td-section-nav" aria-controls="td-docs-nav" aria-expanded="false" aria-label="Toggle section navigation">
    </button>
</form>
