<div id="td-sidebar-menu" class="td-sidebar__inner" style="margin-top: 50px">
    <nav class="sidebar-nav">
        <ul>
            <li>
                <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="/">
                    <i class="fa fa-home" aria-hidden="true"></i>
                    Home
                </a>
            </li>
            {% assign pages_list = site.pages %}
            {% for node in pages_list %}{% if node.title != null %}{% if node.layout == "page" %}{% if node.nav != false %}
            <li>
                {% if page.url == node.url %}
                    {{node.fontawesome}} {{ node.title }} {{node.nav}}
                {% else %}
                <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
                    {{node.fontawesome}} {{ node.title }} {{node.nav}}
                </a>
                {% endif %}
            </li>
            {% endif %}{% endif %}{% endif %}{% endfor %}
        </ul>
    </nav>
</div>
