---
title: Tag Index
permalink: /tags/
nav: true
excluded_in_search: true
fontawesome: <i class="fa fa-tag"></i>
---
{% capture site_tags %}{% for tag in site.tags %}{% if tag %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endif %}{% endfor %}{% endcapture %}
{% assign docs_tags = "" %}
{% for doc in site.package %}{% assign ttags = doc.tags | join:',' | append:',' %}{% assign docs_tags = docs_tags | append:ttags %}{% endfor %}
{% assign all_tags = site_tags | append:docs_tags %}
{% assign tags_list = docs_tags | split:',' | uniq | sort %}
{% for tag in tags_list %}{% if tag %}
	<a id="{{ tag | replace: '/', '-' }}" href="/tag/{{ tag }}"  class="linked-section">{{ tag }}</a> &bull;
{% endif %}{% endfor %}
